*, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    border-bottom: 2px solid lightgray;
}
.logo {
    margin-left: 20px;
    height: 100px;
    width: auto;
}

.nav-item-container {
    width: 40%;
}

.nav-item-container > ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    /* border: 1px solid blue; */
}

li.option {
    /* margin: auto 10px; */
    font-size: x-large;
    padding: 15px;
    transition: transform 0.3s ease, color 0.3s ease;
    padding: 0 10px;
    /* height: 75%; */
    /* border: 1px solid green; */
}
li.option:hover {
    cursor: pointer;
    transform: scale(1.10) translateY(-2px);
}
li.gaurd {
    border: 2px solid black;
    width: 1px;
}

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 100%;
    margin: auto;
    background-color: rgb(248, 243, 238);
}

.icon {
    font-size: 30px;
    margin: 20px;
}
.icon:hover {
    cursor: pointer;
}
.icon:active {
    color: rgb(186, 114, 252);
}
.icon.filter {
    margin: 20px;
}
.input-search-bar {
    height: 60%;
    width: 50%;
    border-radius: 20px;
    padding: 20px;
    font-size: 20px;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
.card {
    width: 300px; /* Width of the card */
    height: 300px; /* Total height of the card */
    display: flex;
    flex-direction: column;
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px;
    align-items: center;
    gap: 20px;
}
.card:hover {
    transform: scale(1.05);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, box-shadow 0.3s;
    cursor: pointer;
}
.card-image {
  flex-basis: 70%; /* Take 60% of the height */
  /* border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px; */
  overflow: hidden; /* Hide overflow of the image */
  width: 100%;
}
.card-image img {
  height: 100%;
  width: 100%;
  object-fit: cover; /* Make sure image covers the area */
  object-position: center;
}
/* .res-name {
    font-size: 20px;
    text-wrap: wrap;
} */

a {
    text-decoration: none;
    color: inherit;
}